:root{
--clr-winnetka-red:rgb(202, 5, 5);
--clr-primary-red:#f30404;
--clr-secondary: rgb(18, 4, 4);
--clr-accent: #ff3400;
--clr-heading: #1e3e62;
--clr-body: #918ca4;
--clr-body-darker:#5c5577;
--clr-border: #ccc;
--border-radius:30px;
}

.block
* {
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container-hero{
    max-width: 1279px;
    margin: 0 auto;
}

/*Typography*/

::selection{
    background: var(--clr-primary);
    color: #fff;
}

html{
    /*62.5% of 16px = 10px*/
font-size: 62.5%;
}

body{
    font-family:Inter, Arial, Helvetica, sans-serif ;
    font-size: 1.75rem;
    line-height: 1.5;
    color:var(--clr-body);
    overflow-x:hidden; 
}

h1,
h2,
h3 {
    color: var(--clr-heading);
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 3rem;
    font-weight: 500;
}



@media screen and (min-width: 1024px){

    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    
    h2{
        font-size: 2rem;
    }
    
    h3{
        font-size: 2.4rem;
    }

}

/*Links*/

a{
text-decoration: none;
}

.link-arrow{
    color: var(--clr-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
    
}

@media screen and (min-width: 1024px){
.link-arrow{
    font-size: 1.5rem;
}
}





/*List*/
.list{
    list-style: none;
    padding-left: 0;
    
}

.list--inline .list__item{
display: inline-block;
margin-right: 2rem;
}

.list--tick{
list-style-image:url(../images/tick.svg);
padding-left:3rem;
color:var(--clr-heading)
}

.list--tick .list__item{
    padding-left: 0.5rem;
    margin-left: 1rem;
}

@media screen and (mid-width: 1024px){
.list--tick .list__item{
    padding-left: 0;
}
}

/*Icons*/
.icon{
    width: 40px;
    height: 40px;
}

.icon__toggler{
    min-width: 7rem;
    min-height: 7rem;
}

.icon--primary{
    fill:var(--clr-primary-red);
}

.icon-container{
    align-items: center;
    background-color: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    width: 64px;

}

.icon-container--accent{
    background: var(--clr-accent);
}

.icon--white{
    fill: #fff;
}

.icon--small{
    width: 30px;
    height: 30px;
}



/*Buttons*/

.btn{
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin:1rem 3rem;
    outline: 0;
    padding: 2rem 4vw;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

}

.btn .icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    vertical-align: middle;
    
}

.btn--primary{
    background-color: var(--clr-primary);
    color: #fff;
}

.btn--primary:hover {
background: #3a8ffd;
}

.btn--secondary{
    background-color: var(--clr-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background-color:#fff;
    color: #000;
    font-weight: 800;
    }

.btn--accent{
    background-color: rgb(102, 6, 6);
    color: #000;
}

.btn--accent:hover {
 background-color:#ec3000 ;
}

.btn--outline{
    background: #fff;
    color:var(--clr-heading);
    border: 2px solid var(--clr-heading);
}

.btn--outline:hover{
background: var(--clr-heading);
color: #fff;
}

.btn--block{
    width: 80%;
    display: inline-block;
  
}

.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}


@media screen and (min-width: 1024px){
    .btn{
        font-size: 1.5rem;
    }
}




/*Grids*/
.grid{
display: grid;}



@media screen and (min-width: 1024px){

    .grid--2fr-1fr{
        grid-template-columns:2fr 1fr; 
    }

    .grid--1x2{
        grid-template-columns:repeat(2,1fr); 
    }


@media screen and (min-width: 1024px){

    .grid--1x3{
        grid-template-columns: repeat(3,1fr);
    }
}


}





/*Call outs*/

.callout{
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary{
    background:var(--clr-primary-red) ;
    color: #fff;
}

.callout--secondary{
    color:var(--clr-primary-red) ;
    background-color:white;
}

.callout__heading{
color: #fff;
margin-top: 0;
font-size: 3rem;
}

.callout__heading-secondary{
    color:#000;
    margin-top: 0;
    font-size: 3.5rem;
}

.callout__double-text{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}


.callout .btn {
    align-self: center;
    justify-self: center;
}

.callout__content{
    text-align: center;
}

.callout__double{
    background-color:var(--clr-winnetka-red);
    border-radius: 3px;
    padding: 2rem 2rem;
    margin: 0;
    text-align: center;    
}

@media screen and (min-width:768px){

.callout .grid--1x2{
    grid-template-columns: 1fr auto;
}
.callout__content{
    text-align: left;
}

.callout .btn {
    justify-self: start;
    margin: 0 2rem;
}

.callout-double-body{
    padding-bottom: 2rem;
}
}



/*Collapsables*/

.collapsible__header{
    display: flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top: 0;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition: transform 0.5s;
}

.collapsible__content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    opacity: 0;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
   max-height: 100vh;
   opacity: 1;
}

/*blocks*/

.block{
    --padding-vertical:6rem;
   
}

.block__header{
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading{
    margin-top: 0;

}

.block--dark{
  background: #080808;
  color:#d4dfe6 ;
}

.block--dark h1,
.block--dark h2,
.block--dark h3
{
color: #fff;
}



/*nav*/
.nav__brand img{
    width: 100%;
    max-width: 180px;
    padding: 3rem 1rem;
}

.nav{
    background: #000;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:0 1rem;
    align-items: center;
}

.nav__list{
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 1.75rem;
}

.nav__item{
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item>a{
    color:#fff;
    transition: color .5s;
}


.nav__item>a:hover{
    color:var(--clr-primary-red);
    
}

.nav__toggler{
opacity: 0.5;
transition: box-shadow .15s;
cursor: pointer;
margin: 0;
}

.nav.collapsible--expanded .nav__toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand{
    transform: translateX(-50px); 
   
}


@media screen and (min-width: 768px){
    .nav__toggler{
        display: none;
    }

    .nav__list{
        width: auto;
        display: flex;
        font-size: 2.25rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item{
        border: 0;
    }
    .nav__brand{
        transform: translateY(5px); 
        transform: translateX(50px); 
    
    }
}


/*Hero*/
.hero{
    padding-top: 0;
}

.hero__content{
    display: none;
 
}

.hero__tagline{
    font-size: 2.5rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    text-align: center;
    margin:0  8rem;
}

.hero__image, .hero__slogan {
    width:100%;
    
}




@media screen and (min-width: 768px) {
    .hero__image{
    width: 100%;
    transform: translatey(40px);
    padding-left: 20rem;
    }

    .hero__content{
    display: block;
    margin-top: 3rem;
    }


}


/*Domain Block*/

.block-domain .input-group{
    box-shadow: 0 0 30px 20px #e6ebee;
    border:0;
    margin: 4rem auto;
    max-width: 670px;
}

.block-domain__prices{
    color:var(--clr-heading);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2. 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .block-domain__prices{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}


/*plans block*/

.block-plans{
    padding-top: 4rem;
}

.block-plans .grid{
    gap: 8rem 4rem;
}

.block-plans .card{
    max-width: 400px;
    margin: 0 auto;
}


/*Features*/

.feature__heading{
margin: 1rem 0;
}

.feature{
    gap: 10rem;
    margin: 3rem, 0;
}


.feature:first-of-type{
    margin-top: 6rem;
}


.feature_image{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content{
        order:2;
        padding-left: 7rem;
    }

 

}

/*Price-Block*/
.mini--icons{
   max-width: 100px;
   max-height: 100px;
   transform: translateY(2rem);
}

/*Showcase block*/

.showcase-container{
    background-image: url(/images/bowling-pin-svgrepo-com.svg);
    background-size: 7rem;
    background-repeat: space;
    position: relative; 
    padding: 1rem;
    margin: 0;
}

.block__heading{
    padding-bottom: 2rem;
    font-size: 6rem;
    text-align: center;
}

.block-showcase__image >img {
    width: 100%;
    border-radius: 5%;
    padding-right: 2rem;
    transform: translateY(30px);
    
}

.media__body >p {
justify-items:baseline;
}

.warning--note{
    color:red;
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
}



@media  screen and (min-width:768px) 
{
    .showcase-container{
        background-image: url(/images/bowling-pin-svgrepo-com.svg);
        background-size: 15rem;
        position: relative; 
        padding: 5rem 3rem;
        margin: 0;

    }

    .block-showcase .grid{
        grid-template-columns: 50% 50%;
    }

    .block-showcase__image{
        justify-self: end;
    }
    

    .block-showcase_image > img{
        width:auto;
        max-width: 700px;
    }

    .price__list{
        line-height: 2.5rem;
    }
    
    .media__title{
        line-height: 3.5rem;
    }

    .callout__double{
        display: flex;

    }
}

/*Location-Block*/    

.location{
    padding: 5rem;
    }

.map-wrapper{
    margin: auto 0;
    align-items: center;
    margin: 5px;
    }
    

    
    .directions{
    text-align: center;
    }
    
    .direction__heading{
    font-size: 3.5rem;
    font-weight: 600;
    }
    
    .address{
        padding: 2.5rem;
        font-weight: 600;
    }

    .location p{
    color:rgb(51, 50, 50);
    font-size:1.75rem;
    font-weight: 500;
    }
    
    
        @media screen and (min-width:768px) {
    .directions{
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .map{
        min-width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        }
        }

/*Carousel*/

.carousel-wraper{
    background: var(--clr-winnetka-red);
   display: inline-block;
}

.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
  }


  
  .slider-button {
    font-size: 7rem;
    padding: 5px 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    background-color: var(--unhover-background-color);
    border: 2px solid var(--unhover-border-color);
    color: var(--unhover-text-color);
    z-index: 10;
    cursor:pointer;
  }
  
  .slider-button-prev {
    left: 2rem;
    color:white;
  }
  
  .slider-button-next {
    right: 2rem;
    color:white;
  }
  
  .slider-button:hover,
  .slider-button:focus {
    background-color: var(--hover-background-color);
    border: 2px solid var(--hover-border-color);
    color: var(--hover-text-color);
  }
  
  ul.slides {
    list-style-type: none;
    height: 100%;
    width: 100%;
  }
  
  li.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity var(--transition-delay);
    transition-delay: var(--transition-delay);
  }
  
  .slide-img {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  
  li.slide[data-active-slide] {
    opacity: 1;
  }
  
  .slides-circles {
    display: flex;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  
  .slides-circles > div {
    height: 20px;
    width: 20px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 50%;
    transition: background-color var(--transition-delay);
    transition-delay: var(--transition-delay);
  }
  
  .slides-circles > div[data-active-slide] {
    background-color: white;
  }
  


  @media screen and (min-width:768px) {

    .corousel-wraper{
        max-width: 100vw;
        max-height: 100vh;
    }

    .carousel{
        max-width: 70vw;
        max-height: 60vh;
        margin: 0 auto;
    }
  }





/*footer*/

.footer{
    background-color: #000;
    
}

.footer a{
    color:#777;
    transition: color 3s;
}

.footer a:hover{
    color: #fff;
}
.footer__section{
    margin-left: 5rem;
    padding: 2rem;
    border-bottom: 1px solid #393939;
}

.footer__section .list{
    margin: 0;
}

.footer__heading{
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand{
    margin-top: 5rem;
    text-align: center;

}
.footer__brand img{
    width: 100%;
    max-width:150px;
    
}
.footer__copyright{
    font-size: 1.5rem;
    color:#fff;
    opacity:0.3;
}

@media screen and (min-width:768px) {

    .footer{
        background-color: #000;
        max-height: 250px;
    }


    .footer__sections{
        grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
    }
    
.footer .collapsible__chevron{
    display: none;
}

.footer .collapsible__content {
opacity: 1;
max-height: 100%;
}

.footer__brand{
    order: -1;
    margin-top: 7rem;
}

.footer__copyright{
    font-size: 1.5rem;
}

.footer__section{
    border: 0;
    margin-top: 6rem;
}

.footer__heading{
    font-size: 1.6rem;
}

.footer__brand img{
    transform: translateY(-40px);
}


}